// ───────────────────────── GLOBAL OPTIONS ─────────────────────────
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay { 
    skip-at-startup
}

// ───────────────────────── CONFIGURATION ───────────────────────────
include "conf/binds.kdl"
include "conf/input.kdl"
include "conf/layout.kdl"
include "conf/window-rules.kdl"
include "conf/output.kdl"
include "conf/startup.kdl"