// ───────────────────────────── LAYOUT ─────────────────────────────
layout {
    gaps 5
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    // Focus ring
    focus-ring {
        off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    // Border
    border {
        off
        width 0
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    // Shadow
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        top 43
     }
}