// ─────────────────────────── OUTPUT (example) ─────────────────────
/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}

output "HDMI-A-1" {
    scale 1.13
    position x=1920 y=0
}