// ───────────────────────── STARTUP SERVICES ───────────────────────
spawn-at-startup "waybar"
spawn-at-startup "mako"

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "swayidle" "-w" "timeout" "120" "niri msg action power-off-monitors" "resume" "niri msg action power-on-monitors" "timeout" "180" "systemctl suspend" "before-sleep" "swaylock -f"
spawn-sh-at-startup "swaybg -i $HOME/Pictures/Wallpapers/forrest.jpg -m fill"

spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"